.mainContainer{
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overscroll-behavior-x: contain;
  position: relative
}

.mainContainer::-webkit-scrollbar {
  display: none;
}
